.dashNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--color-bg-secondary);
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.brandAndToggle {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
}
.sidebarToggle {
  padding: 0;
  background: transparent;
  color: var(--color-text);
}
.brand {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1.4px;
  font-family: cursive;
}
