.consumerApisContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.consumerApisContainer h1 {
  font-weight: 400;
  font-size: 28px;
  margin: 20px;
  text-align: center;
}
.consumerApiCards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
