.sidebar {
  min-width: 250px;
  width: 250px;
  min-height: 100vh;
  background-color: var(--color-bg-secondary);
  padding: 20px;
  box-shadow: 2px 0 5px rgba(238, 233, 233, 0.6);
  animation-name: transitionIn;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}
@keyframes transitionIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.userNameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-bottom: 2px solid var(--color-bg); */
  padding-bottom: 10px;
  border-radius: 50px;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
  transition: var(--transition);
}
.userNameContainer:hover {
  background-color: var(--color-text);
  color: var(--color-bg);
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.8);
}
.userName {
  font-size: 24px;
  font-weight: 400;
}
.sidebarMenuListContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.sidebarMenuListContainer li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  cursor: pointer;
  color: var(--color-text);
  transition: var(--transition);
  letter-spacing: 1.4px;
}
.sidebarMenuListContainer li:hover {
  color: var(--color-primary);
  background-color: var(--color-bg);
  padding: 10px 20px;
  border-radius: 20px;
  justify-content: center;
}
.sidebarMenuListContainer li.active {
  color: var(--color-primary);
  background-color: var(--color-bg);
  padding: 10px 20px;
  border-radius: 20px;
  justify-content: center;
}
.logout {
  border-top: 2px solid var(--color-text);
  padding-top: 10px;
}
.logout span {
  color: red;
  font-weight: 300;
}

@media screen and (max-width: 1024px) {
  .sidebar {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 60px;
  }
}
